In [1]:
from nba_api.stats.static import teams
import pandas as pd

In [2]:
nba_teams = teams.get_teams()

abbreviation_list = [0]*len(nba_teams)
id_list = [0]*len(nba_teams)
for i in range(0,len(nba_teams)):
    abbreviation_list[i] = nba_teams[i]['abbreviation']
    id_list[i] = nba_teams[i]['id']
#abbreviation_list

In [3]:
abbrev_ids = pd.DataFrame(zip(abbreviation_list, id_list))
#abbrev_ids

In [6]:
# Query for the last regular season game where the Pacers were playing
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType
import time

custom_headers = {
    #'Origin': 'https://stats.nba.com/stats/boxscoreadvancedv2',
    'Host': 'stats.nba.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:61.0) Gecko/20100101 Firefox/61.0',
    'Accept': 'application/json, text/plain, */*',
    'Accept-Language': 'en-US,en;q=0.5',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Connection': 'keep-alive',
    'x-nba-stats-origin': 'stats',
    'x-nba-stats-token': 'true'
}

In [127]:
matchup = [0]*len(id_list)
game_id_list = [0]*len(id_list)
for i in range(0,len(id_list)):
    time.sleep(.600) 
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_list[i],
                            season_nullable=Season.default,
                            season_type_nullable=SeasonType.regular, timeout = 100)  
    
    games_dict = gamefinder.get_normalized_dict()
    games = games_dict['LeagueGameFinderResults']
    game = games[0]
    game_id = game['GAME_ID']
    game_matchup = game['MATCHUP']

    print(f'Searching through {len(games)} game(s) for the game_id of {game_id} where {game_matchup}')
    matchup[i] = game_matchup
    game_id_list[i] = game_id

Searching through 39 game(s) for the game_id of 0022000597 where ATL vs. CLE
Searching through 38 game(s) for the game_id of 0022000598 where BOS @ HOU
Searching through 38 game(s) for the game_id of 0022000597 where CLE @ ATL
Searching through 39 game(s) for the game_id of 0022000601 where NOP vs. LAC
Searching through 37 game(s) for the game_id of 0022000600 where CHI vs. TOR
Searching through 37 game(s) for the game_id of 0022000592 where DAL @ DEN
Searching through 38 game(s) for the game_id of 0022000592 where DEN vs. DAL
Searching through 39 game(s) for the game_id of 0022000594 where GSW vs. UTA
Searching through 37 game(s) for the game_id of 0022000598 where HOU vs. BOS
Searching through 40 game(s) for the game_id of 0022000601 where LAC @ NOP
Searching through 38 game(s) for the game_id of 0022000585 where LAL vs. IND
Searching through 39 game(s) for the game_id of 0022000596 where MIA @ ORL
Searching through 38 game(s) for the game_id of 0022000589 where MIL @ WAS
Searching through 39 game(s) for the game_id of 0022000599 where MIN vs. POR
Searching through 39 game(s) for the game_id of 0022000587 where BKN vs. DET
Searching through 39 game(s) for the game_id of 0022000586 where NYK @ OKC
Searching through 39 game(s) for the game_id of 0022000596 where ORL vs. MIA
Searching through 37 game(s) for the game_id of 0022000194 where IND @ PHX
Searching through 39 game(s) for the game_id of 0022000595 where PHI vs. SAS
Searching through 37 game(s) for the game_id of 0022000194 where PHX vs. IND
Searching through 38 game(s) for the game_id of 0022000599 where POR @ MIN
Searching through 38 game(s) for the game_id of 0022000590 where SAC @ ATL
Searching through 35 game(s) for the game_id of 0022000595 where SAS @ PHI
Searching through 39 game(s) for the game_id of 0022000593 where OKC vs. MEM
Searching through 39 game(s) for the game_id of 0022000600 where TOR @ CHI
Searching through 38 game(s) for the game_id of 0022000594 where UTA @ GSW
Searching through 35 game(s) for the game_id of 0022000593 where MEM @ OKC
Searching through 37 game(s) for the game_id of 0022000589 where WAS vs. MIL
Searching through 38 game(s) for the game_id of 0022000587 where DET @ BKN
Searching through 37 game(s) for the game_id of 0022000588 where CHA vs. TOR

In [10]:
matchup

['ATL vs. CLE',
 'BOS @ HOU',
 'CLE @ ATL',
 'NOP vs. LAC',
 'CHI vs. TOR',
 'DAL @ DEN',
 'DEN vs. DAL',
 'GSW vs. UTA',
 'HOU vs. BOS',
 'LAC @ NOP',
 'LAL vs. IND',
 'MIA @ ORL',
 'MIL @ WAS',
 'MIN vs. POR',
 'BKN vs. DET',
 'NYK @ OKC',
 'ORL vs. MIA',
 'IND @ PHX',
 'PHI vs. SAS',
 'PHX vs. IND',
 'POR @ MIN',
 'SAC @ ATL',
 'SAS @ PHI',
 'OKC vs. MEM',
 'TOR @ CHI',
 'UTA @ GSW',
 'MEM @ OKC',
 'WAS vs. MIL',
 'DET @ BKN',
 'CHA vs. TOR']

In [128]:
home_away = [0]*len(matchup)

for i in range(0,len(matchup)):
    home_away[i] = "vs." in matchup[i]

matchup_df = pd.DataFrame(zip(game_id_list,matchup))[home_away]
matchup_df

             0            1
0   0022000597  ATL vs. CLE
3   0022000601  NOP vs. LAC
4   0022000600  CHI vs. TOR
6   0022000592  DEN vs. DAL
7   0022000594  GSW vs. UTA
8   0022000598  HOU vs. BOS
10  0022000585  LAL vs. IND
13  0022000599  MIN vs. POR
14  0022000587  BKN vs. DET
16  0022000596  ORL vs. MIA
18  0022000595  PHI vs. SAS
19  0022000194  PHX vs. IND
23  0022000593  OKC vs. MEM
27  0022000589  WAS vs. MIL
29  0022000588  CHA vs. TOR

In [129]:
matchup_df[['HOME','AWAY']] = matchup_df[1].str.split('vs.',expand=True)
matchup_df.columns = ['GAME_ID', 'MATCHUP', 'HOME', 'AWAY']

In [130]:
#matchup_df.reset_index(drop=True)
matchup_df1 = matchup_df.reset_index(drop=True)
matchup_df1

       GAME_ID      MATCHUP  HOME  AWAY
0   0022000597  ATL vs. CLE  ATL    CLE
1   0022000601  NOP vs. LAC  NOP    LAC
2   0022000600  CHI vs. TOR  CHI    TOR
3   0022000592  DEN vs. DAL  DEN    DAL
4   0022000594  GSW vs. UTA  GSW    UTA
5   0022000598  HOU vs. BOS  HOU    BOS
6   0022000585  LAL vs. IND  LAL    IND
7   0022000599  MIN vs. POR  MIN    POR
8   0022000587  BKN vs. DET  BKN    DET
9   0022000596  ORL vs. MIA  ORL    MIA
10  0022000595  PHI vs. SAS  PHI    SAS
11  0022000194  PHX vs. IND  PHX    IND
12  0022000593  OKC vs. MEM  OKC    MEM
13  0022000589  WAS vs. MIL  WAS    MIL
14  0022000588  CHA vs. TOR  CHA    TOR

In [131]:
# Query for the play by play of that most recent regular season game
from nba_api.stats.endpoints import playbyplay
data = pd.DataFrame()
type(data)

pandas.core.frame.DataFrame

In [133]:
for i in range(0,len(matchup_df1['GAME_ID'])):
    time.sleep(.600) 
    df = playbyplay.PlayByPlay(matchup_df1['GAME_ID'][i]).get_data_frames()[0]
    data = pd.concat([data, df])

In [134]:
game_data = data.reset_index(drop=True)
game_data["NEUTRALDESCRIPTION"]

0       Start of 1st Period (7:41 PM EST)
1                                    None
2                                    None
3                                    None
4                                    None
                      ...
6909                                 None
6910                                 None
6911                                 None
6912                                 None
6913      End of 4th Period (9:29 PM EST)
Name: NEUTRALDESCRIPTION, Length: 6914, dtype: object

In [135]:
counter = [0]*len(game_data["NEUTRALDESCRIPTION"])
for i in range(0,len(game_data["NEUTRALDESCRIPTION"])):
    counter[i] = ('End') in str(game_data["NEUTRALDESCRIPTION"][i])

In [136]:
sum(counter)

60

In [137]:
quarter_data = game_data[counter]

In [138]:
quarter_data

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
112,0022000597,157,13,0,1,8:07 PM,0:00,None,End of 1st Period (8:07 PM EST),None,22 - 26,4
225,0022000597,305,13,0,2,8:37 PM,0:00,None,End of 2nd Period (8:37 PM EST),None,46 - 49,3
339,0022000597,470,13,0,3,9:20 PM,0:00,None,End of 3rd Period (9:20 PM EST),None,66 - 69,3
448,0022000597,634,13,0,4,9:50 PM,0:00,None,End of 4th Period (9:50 PM EST),None,82 - 100,18
555,0022000601,157,13,0,1,9:37 PM,0:00,None,End of 1st Period (9:37 PM EST),None,24 - 36,12
665,0022000601,326,13,0,2,10:08 PM,0:00,None,End of 2nd Period (10:08 PM EST),None,57 - 67,10
780,0022000601,487,13,0,3,10:52 PM,0:00,None,End of 3rd Period (10:52 PM EST),None,83 - 110,27
866,0022000601,614,13,0,4,11:21 PM,0:00,None,End of 4th Period (11:21 PM EST),None,115 - 135,20
986,0022000600,167,13,0,1,9:35 PM,0:00,None,End of 1st Period (9:35 PM EST),None,22 - 28,6
1105,0022000600,344,13,0,2,10:01 PM,0:00,None,End of 2nd Period (10:01 PM EST),None,49 - 58,9
1236,0022000600,535,13,0,3,10:47 PM,0:00,None,End of 3rd Period (10:47 PM EST),None,73 - 85,12
1361,0022000600,709,13,0,4,11:18 PM,0:00,None,End of 4th Period (11:18 PM EST),None,95 - 118,23
1470,0022000592,155,13,0,1,10:39 PM,0:00,None,End of 1st Period (10:39 PM EST),None,28 - 29,1
1584,0022000592,312,13,0,2,11:05 PM,0:00,None,End of 2nd Period (11:05 PM EST),None,62 - 51,-11
1683,0022000592,459,13,0,3,11:45 PM,0:00,None,End of 3rd Period (11:45 PM EST),None,93 - 73,-20
1805,0022000592,635,13,0,4,12:23 AM,0:00,None,End of 4th Period (12:23 AM EST),None,116 - 103,-13
1907,0022000594,144,13,0,1,4:37 PM,0:00,None,End of 1st Period (4:37 PM EST),None,22 - 33,11
2028,0022000594,329,13,0,2,5:09 PM,0:00,None,End of 2nd Period (5:09 PM EST),None,54 - 67,13
2151,0022000594,497,13,0,3,5:56 PM,0:00,None,End of 3rd Period (5:56 PM EST),None,86 - 95,9
2270,0022000594,671,13,0,4,6:27 PM,0:00,None,End of 4th Period (6:27 PM EST),None,119 - 131,12
2395,0022000598,178,13,0,1,8:40 PM,0:00,None,End of 1st Period (8:40 PM EST),None,38 - 34,-4
2521,0022000598,341,13,0,2,9:09 PM,0:00,None,End of 2nd Period (9:09 PM EST),None,66 - 53,-13
2636,0022000598,505,13,0,3,9:51 PM,0:00,None,End of 3rd Period (9:51 PM EST),None,104 - 72,-32
2743,0022000598,665,13,0,4,10:19 PM,0:00,None,End of 4th Period (10:19 PM EST),None,134 - 107,-27
2851,0022000585,156,13,0,1,11:08 PM,0:00,None,End of 1st Period (11:08 PM EST),None,28 - 20,-8
2985,0022000585,357,13,0,2,11:44 PM,0:00,None,End of 2nd Period (11:44 PM EST),None,54 - 46,-8
3101,0022000585,520,13,0,3,12:26 AM,0:00,None,End of 3rd Period (12:26 AM EST),None,79 - 71,-8
3223,0022000585,687,13,0,4,1:01 AM,0:00,None,End of 4th Period (1:01 AM EST),None,100 - 105,5
3339,0022000599,160,13,0,1,8:38 PM,0:00,None,End of 1st Period (8:38 PM EST),None,20 - 24,4
3442,0022000599,305,13,0,2,9:04 PM,0:00,None,End of 2nd Period (9:04 PM EST),None,49 - 47,-2
3551,0022000599,464,13,0,3,9:50 PM,0:00,None,End of 3rd Period (9:50 PM EST),None,72 - 76,4
3695,0022000599,659,13,0,4,10:36 PM,0:00,None,End of 4th Period (10:36 PM EST),None,112 - 114,2
3798,0022000587,149,13,0,1,7:34 PM,0:00,None,End of 1st Period (7:34 PM EST),None,22 - 26,4
3917,0022000587,315,13,0,2,8:03 PM,0:00,None,End of 2nd Period (8:03 PM EST),None,46 - 51,5
4020,0022000587,470,13,0,3,8:44 PM,0:00,None,End of 3rd Period (8:44 PM EST),None,66 - 78,12
4141,0022000587,641,13,0,4,9:22 PM,0:00,None,End of 4th Period (9:22 PM EST),None,95 - 100,5
4250,0022000596,155,13,0,1,7:36 PM,0:00,None,End of 1st Period (7:36 PM EST),None,22 - 19,-3
4360,0022000596,314,13,0,2,8:04 PM,0:00,None,End of 2nd Period (8:04 PM EST),None,48 - 45,-3
4461,0022000596,465,13,0,3,8:45 PM,0:00,None,End of 3rd Period (8:45 PM EST),None,73 - 77,4
4577,0022000596,636,13,0,4,9:18 PM,0:00,None,End of 4th Period (9:18 PM EST),None,102 - 97,-5
4685,0022000595,164,13,0,1,7:04 PM,0:00,None,End of 1st Period (7:04 PM EST),None,22 - 33,11
4808,0022000595,341,13,0,2,7:37 PM,0:00,None,End of 2nd Period (7:37 PM EST),None,52 - 60,8
4912,0022000595,495,13,0,3,8:20 PM,0:00,None,End of 3rd Period (8:20 PM EST),None,73 - 106,33
5029,0022000595,656,13,0,4,8:49 PM,0:00,None,End of 4th Period (8:49 PM EST),None,99 - 134,35
5133,0022000194,149,13,0,1,10:35 PM,0:00,None,End of 1st Period (10:35 PM EST),None,29 - 33,4
5248,0022000194,315,13,0,2,11:03 PM,0:00,None,End of 2nd Period (11:03 PM EST),None,62 - 57,-5
5355,0022000194,464,13,0,3,11:41 PM,0:00,None,End of 3rd Period (11:41 PM EST),None,97 - 77,-20
5470,0022000194,629,13,0,4,12:14 AM,0:00,None,End of 4th Period (12:14 AM EST),None,122 - 111,-11
5570,0022000593,146,13,0,1,2:34 PM,0:00,None,End of 1st Period (2:34 PM EST),None,31 - 28,-3
5678,0022000593,292,13,0,2,3:05 PM,0:00,None,End of 2nd Period (3:05 PM EST),None,62 - 55,-7
5801,0022000593,474,13,0,3,3:50 PM,0:00,None,End of 3rd Period (3:50 PM EST),None,100 - 90,-10
5939,0022000593,672,13,0,4,4:27 PM,0:00,None,End of 4th Period (4:27 PM EST),None,122 - 128,6
6050,0022000589,169,13,0,1,7:35 PM,0:00,None,End of 1st Period (7:35 PM EST),None,36 - 33,-3
6189,0022000589,361,13,0,2,8:06 PM,0:00,None,End of 2nd Period (8:06 PM EST),None,64 - 65,1
6320,0022000589,558,13,0,3,8:51 PM,0:00,None,End of 3rd Period (8:51 PM EST),None,94 - 95,1
6439,0022000589,721,13,0,4,9:25 PM,0:00,None,End of 4th Period (9:25 PM EST),None,125 - 119,-6
6551,0022000588,168,13,0,1,7:38 PM,0:00,None,End of 1st Period (7:38 PM EST),None,24 - 44,20
6673,0022000588,345,13,0,2,8:10 PM,0:00,None,End of 2nd Period (8:10 PM EST),None,52 - 67,15
6791,0022000588,520,13,0,3,8:55 PM,0:00,None,End of 3rd Period (8:55 PM EST),None,73 - 98,25
6913,0022000588,684,13,0,4,9:29 PM,0:00,None,End of 4th Period (9:29 PM EST),None,104 - 114,10

In [140]:
teams_quarter_data = pd.merge(matchup_df1, quarter_data, on='GAME_ID')

In [141]:
teams_quarter_data = teams_quarter_data[['MATCHUP','HOME','AWAY', 'PERIOD', 'NEUTRALDESCRIPTION','SCORE','SCOREMARGIN']]

In [142]:
teams_quarter_data.to_excel("~/Desktop/3.14.2021.NBA_Games.xlsx")